<!--
<ol>
{{#each articles}}
    <li><a href="./article/{{this._id}}">{{this.title}}</a></li>
{{/each}}
</ol>
-->

{{#each articles}}
<div class="panel panel-heading">
	<div class="panel-heading">
		<button class="edit btn btn-default">Save Article</button>
		<h3>{{this.title}}</h3>
	</div>
	<div clas="panel-body">
		<p>{{this.title}}</p>
	</div>
</div>
{{/each}}